@import "../../Styles/variables.scss";

h2, .inv-sent {
  display:flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  justify-content: space-between;
  width: 100vw;
  
label {
  margin: 5px;
  width: 175px;
  height: 40px;
  padding-left: 8px;
}

  select, input {
    margin: 5px;
    border-radius: 8px;
    border: none;
    background-color: $primary;
    color: $light;
    width: 175px;
    height: 40px;
    padding-left: 8px;
  }
  input::placeholder {
    color: $light;
  }
  option {
    border-radius: 3px;
  }
  
}

.btn-center {
  margin: 0 auto 50px auto;
}

.btn-cancel {
  margin-bottom: 50px;
}

.container p {
  margin-left: 30%;
  padding-bottom: 10px;
  color: red;
}

.inv-sent {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 280px) {
  h2 {
    text-align: center;
  }

  .top {
    margin-top: 85vh;
    font-size: 2vh;
  }
}


@media screen and (min-width: 360px) {
  .container p {
    margin-left: 16%;
  }
}
@media screen and (min-width: 540px) {
  .container p {
    margin-left: 20%;
  }
}

@media screen and (min-width: 820px) {
  .container p {
    margin-left: 30%;
  }
}
@media screen and (min-width: 912px) {
  .container {
    padding-top: 90px;
  }

  .container p {
    margin-left: 34%;
  }
}
@media screen and (min-width: 1080px) {
  h2 {
    margin-top: 0px;
  }
  
  .container p {
    margin-left: 37%;
  }
}

