@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: $Poppins;
  color: $dark;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

.top {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  align-items: center;
  // margin-top: 225px;
  margin-top: 55vh;
}

#home-logged-out-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-logged-out {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  align-items: center;
  margin-top: 45vh;
  width: 90vw;
  // background-color: aqua;
}

/*Effects for button*/
div button {
  background-position: center;
  transition: background 0.8s;
}

.howto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary;
  min-height: 600px;
  position: relative;
  padding-top: 90px;
  // height: fit-content;
  // min-height: 95vh;
  width: 100vw;


  // .howto-title {
  //   margin: 0;
  // }

  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .wave svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 105px;
    padding-bottom: 10px;
  }

  .wave .shape-fill {
    fill: $bg;
  }

  .text-section {
    padding-bottom: 100px;
    display: flex;
    margin: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .text-section-logged-out {
    // padding-bottom: 100px;
    display: flex;
    margin: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .wave-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .wave-bottom svg {
    position: relative;
    display: block;
    width: calc(185% + 1.3px);
    height: 110px;
  }

  .wave-bottom .shape-fill {
    fill: $bg;
  }
}

/* Button base style */
button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: $light;
  background-color: $dark;
  box-shadow: 0 0 4px #999;
  outline: none;
  display: flex;
  justify-content: center;
}

div button:hover {
  background: $lb radial-gradient(circle, transparent 1%, $lb 1%) center/15000%;
}

div button:active {
  background-color: $dark;
  background-size: 100%;
  transition: background 0s;
}

@media screen and (max-width: 610px) {
  .howto p {
    font-size: 14px;
  }
}

@media screen and (min-width: 200px) {
  howto h2 {
    padding: 0;
  }
}



//Galaxy Fold Portrait
@media screen and (min-device-width: 250px) and
(orientation: portrait) {
  .top {
    margin-top: 85vh;
    font-size: 2vh;
  }


  #text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-section {
    margin: 0 !important;
    padding: 0 20px;
    width: 100vw;
    align-items: flex-start !important;
  }

  .text-section-logged-out {
    margin: 0 !important;
    padding: 10px 20px 90px 20px;
    width: 100vw;
    align-items: flex-start !important;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-container {
    padding: 40px 0;
    margin-left: 0;
    // flex-direction: column;
    width: 100vw;
  }

  .btn-center {
    margin: 0 auto 50px auto;
  }
}

//Galaxy S8 portrait and up
@media screen and 
(min-device-width: 360px) and 
(orientation: portrait) {
  .top {
    margin-top: 55vh;
  }

  .top-logged-out {
    margin-top: 15vh;
  }

  .text-section {
    padding: 10px 20px;
  }

  .text-section-logged-out {
    padding: 30px 30px 0 30px;
  }
}
//iphone SE portrait and up
@media screen and (min-device-width: 375px) and
(orientation: portrait) {
  .top {
    margin-top: 70vh;
  }

  .top-logged-out {
    margin-top: 30vh;
  }
}
//iphone 12 Pro and up
@media screen and (min-device-width: 390px) and
(orientation: portrait) {
  .top {
    margin-top: 45vh;
  }

  .top-logged-out {
    margin-top: 8vh;
  }
}
//iphone XR - Galaxy A51/71 - Galaxy S20 portrait and up
@media screen and 
(min-device-width: 400px) and 
(orientation: portrait) {
  .top {
    margin-top: 35vh;
  }
}
//Surface Duo portrait and up
@media screen and
(min-device-width: 520px) and
(orientation: portrait) {
  .top {
    margin-top: 65vh;
  }

  .top-logged-out {
    margin-top: 15vh;
    width: 80vw;
  }

  .text-section {
    width: 80vw;
  }

  .text-section-logged-out {
    width: 80vw;
  }
}
//ipad mini portrait and up
@media screen and 
(min-device-width: 750px) and 
(orientation: portrait) {
  .top {
    margin-top: 20vh;
  }

  .top-logged-out {
    margin-top: -7vh;
  }

  .text-section {
    width: 70vw;
  }
}
//ipad air portrait and up
@media screen and 
(min-device-width: 800px) and 
(orientation: portrait) {
  .top {
    margin-top: 15vh;
  }

  .top-logged-out {
    margin-top: -15vh;
  }

  .text-section {
    width: 70vw;
  }

  .container {
    margin-top: 6vh;
  }
}

//NEST HUB
@media screen and 
(device-width: 1024px) and
(device-height: 600px) {
  .top {
    margin-top: 90vh;
  }
}
//NEST HUB MAX
@media screen and 
(device-width: 1280px) and
(device-height: 800px) {
  .top-logged-out {
    margin-top: 0;
  }
}